
.ui button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 23px;
    transition: 0.2s;  
    height: 60px;
    width: 35vw;
    border: 2px solid #e4f9ff; 
    min-height: 4vh;
    width: auto;
    overflow: hidden;
    border-radius: 5px; 
    background: #181d38;
    color: #e4f9ff;
    cursor: pointer;
    margin: 1vh;
}


.ui button.control  {
    position: absolute;
    flex: 0 0 60px;
    height: 60px;
    width: 60px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 40px;
}



.ui button:hover {
    background: #e4f9ff;
    color: #181d38;
    cursor: pointer;
    border-color:  #181d38;
}



.butt-left {
    bottom: 1.5rem;
    left: .5rem;
}

.butt-right {
    bottom: 1.5rem;
    left: 5rem;
}

.butt-front {
    bottom: 5.5rem;
    right: 1rem;
}

.butt-back {
    bottom: 1.5rem;
    right: 1rem;
}

.butt-fullscreen {
    top: .5rem;
    right: 1rem
}

.butt-info {
    top: .5rem;
    right: 5.5rem;
}

.butt-sound {
    top: .5rem;
    right: 10rem;  
}




