
/*********************************************/

.hidden {
    display: none;
}



/**********************************************************/

.ui {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


.ui button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.25rem;
    transition: 0.2s;
    color: #c4e2ff;
    border: 1px solid #c1e1ff;
    height: 2rem;
    overflow: hidden;
    border-radius: 5px;
    background: rgba(36, 0, 80, 0.73);
    cursor: pointer;
    max-width: 360px;
    margin: 0.2em;
}

.ui button:hover {
    background:#7dc0ff;
    color: #001950;
    border-color:  #001950;
}


.ui button.control {
    height: 3.1em;
    width: 3.1em;
}

.butt-left {
    bottom: 1.5em;
    left: .5em;
}

.butt-right {
    bottom: 1.5em;
    left: 4em;
}

.butt-front {
    bottom: 4em;
    right: 1em;
}

.butt-back {
    bottom: .5em;
    right: 1em;
}

.butt-fullscreen {
    top: .5em;
    right: 4em;
}

.butt-info {
    top: .5em;
    right: .5em;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% */

.info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 10vh;
    bottom: 10vh;
    left: 0;
    right: 0;
}


.info-inner {
    border-radius: 5px;
    width: 35vw;
    max-height: 40vh;
    min-height: 250px;
    min-width: 250px;
    height: 40vw;
    background: rgba(38, 19, 87, 0.89);
    padding: 70px 20px;
    box-sizing: border-box;
    color: white;
    position: relative;
}

.info-inner p {
    text-align: center;
    font-size: 2.2em;
    margin-top: .4em;
}