
button.butt-toggleDialog {
    bottom: 7rem;
    max-width: 30vw;
    min-width: 30vw;
    left: 35vw;
    font-size: 1.1rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    button.butt-toggleDialog {
        bottom: 1.5em;
    }
}


/***********************************************/


.dialog {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.dialog-inner {
    flex: 2 0 auto;
    display: flex;
    box-sizing: border-box;
    width: 30vw;
    min-width: 320px;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    padding: 20px;
    background: rgba(55, 2, 119, 0.75);
    border-radius: 5px;
    font-size: 2.2em;
    color: white;
}


.userReplicies {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;

}

.userReplicies button {
    display: block;
    position: static;
    flex: 2 0 auto;
    margin: 1px;
    font-size: 1em;
    max-width: 1000px;
    height: auto;
    padding: 7px;

}

.botAnswers {
    flex: 1 0 auto;
}

.botAnswers .q {
    display: flex;
    font-size: .9rem;
    color: #faffcb;
    justify-content: flex-end;
}

.botAnswers .a {
    font-size: 1.2rem;
    color: #f9fffd;
    margin-bottom: .8rem;
}



@media (max-width: 900px) {
    .dialog {
        bottom: 7rem;
    }
}


/****************************************************/





.final-message {
    text-align: center;
    background: none;
}



.final-message p {
    font-size: 3rem;
}



.butt-infoClose {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 2.8em;
    transition: 0.2s;
    color: #c4e2ff;
    border: 1px solid #c1e1ff;
    height: 2.2rem;
    width: 2.2rem;
    overflow: hidden;
    border-radius: 5px;
    background: #004ba193;
    cursor: pointer;
    max-width: 360px;
}
